.workloads-container {
    display: flex;
    flex-wrap: wrap;
    gap: 600px; /* Space between cards */
}

.workload-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background: white;
    margin: 20px;
}

.workload-card-update-available {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4); /* Green glow */
    padding: 20px;
    border-radius: 8px;
    background: white;
    margin: 20px;
}

.workload-name {
    font-weight: bold;
    font-size: 1.5em;
}

.workload-update-available {
    color: #0d7c08;
    font-weight: bold;
}

.workload-version, .workload-image, .workload-namespace, .workload-last-scanned {
    margin-top: 10px;

}

