# General
.DS_Store
node_modules/
dist/
*.log
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~


# Svelte / TypeScript
public/build/
src/node_modules/

# Kubernetes
*.kube
*.k8s

# Docker
docker-compose*.yml
*.dockerignore

# Dioxus
.dioxus/
slackwatch/

# Rust
target/

#mdbook
book/
