# General
.DS_Store
node_modules/
dist/
*.log
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
/vendor/
*.test
*.out

# Svelte / TypeScript
public/build/
src/node_modules/

# Kubernetes
*.kube
*.k8s

# Docker
docker-compose*.yml
*.dockerignore
**/.dockerignore
/backend/.env.example
/backend/.env.dev
