.workloads-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.workload-card-update-available {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4); /* Green glow */
    padding: 20px;
    border-radius: 8px;
    background: white;
    order: 1;
    margin: 20px;
}

.workload-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background: white;
    order: 2;
    margin: 20px;
}


.workload-update-single {
    display: flex;
    border: none;
    padding: 0!important;
    font-family: Arial, sans-serif;
    color: #069;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    justify-content: space-between;
    align-items: center;

}

.workload-card {
    position: relative;
}

.upgrade-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}

.card.has-upgrade .upgrade-button {
    display: block;
}



.workload-name {
    font-weight: bold;
    font-size: 1.5em;
}

.workload-update-available {
    color: #0d7c08;
    font-weight: bold;
    order: 1!important;
}

.workload-version, .workload-image, .workload-namespace, .workload-last-scanned {
    margin-top: 10px;

}
